[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {extras = ["and-cuda"], version = "~=2.16.0"}
tensorflowjs = "~=4.19.0"
nvidia-cudnn-cu12 = "*"
tensorboard-plugin-profile = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
